/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* css reset */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* general css */
body{
   font-family: "Fredoka", sans-serif;
}

/* utility */
.debug{
   border: 1px solid red;
}

.container{
   margin: 0 auto;
   width: 1200px;
}

.text-center{
   text-align: center;
}


/* header style */
div.title{
   margin: 80px 0px;
}

.title h1{
   font-size: 3rem;
   margin-bottom: 30px;
   color: #E53070;
}

.title p{
   font-size: 1.3rem;
   font-weight: lighter;
}

/* card section style */
div.cards-container{
   display: flex;
   justify-content: space-between;
   width: 100%;
   flex-wrap: wrap;
}

div.card-col{
   width: calc(100% / 3);
   padding: 20px;
}

div.card{
   background-color: #000;
   color: #fff;
   display: flex;
}

.card .card-img{
   width: 100px;
}

.card-img img{
   width: 100%;
}

.card .card-text{
   padding: 20px;
}

.card-text h4{
   text-transform: uppercase;
   margin-bottom: 5px;
}

.card-text p.role{
   margin-bottom: 5px;
}

.card-text p.mail{
   color: #3DABFB;
}
